/** */
.slick-slider {
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .05),
    inset 0 3px 1px -2px rgba(0, 0, 0, .05),
    inset 0 1px 5px 0 rgba(0, 0, 0, .05),
    0 2px 3px rgba(10, 10, 10, .1),
    0 0 0 1px rgba(10, 10, 10, .1);
    margin-top: 2px;
}
.slide-content p, .slide-content h1 {
    text-shadow: 1px 1px 0 rgba(0,0,0,.4);
}
.slide-content h1 {
    font-size: 3rem;
}


/* Mimic bootstrap alert (contact form error + success) */
.alert-danger {
    border: 1px solid darkred;
    background: #b00000;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}
.alert-success {
    border: 1px solid darkgreen;
    background: green;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}


/** Gallery */
.blueimp-gallery .slide-content {
    padding-bottom: 120px;
    padding-top: 50px;
}
.blueimp-gallery > .description {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    color: #fff;
    display: none;
}
.blueimp-gallery-controls > .description {
    display: block;
}

.screenshot {
    border: 2px solid #e6e6e6!important;
    padding: 2px;
    cursor: zoom-in;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0 !important;
}
