.cookie-notice{
  position:fixed;
  width:100%;
  background-color:rgba(0,0,0,.8);
  font-weight:200;
  color:#ffffff;
  bottom:0;
  transform: translate(0, -10rem);
  z-index:10000;
  animation:cookie-notice-slide-in 1s ease-out forwards;
}
.cookie-notice > div{
  display:flex!important;
  /* justify-content: flex-end!important; */
  align-items: center!important;
  padding-top:1em;
  padding-bottom:1em;
}
.cookie-notice > div > div {
  padding-right:1em;
  margin-right:auto;
}
.cookie-notice button{
  background:transparent;
  border:solid 1px #ffffff;
  border-radius:0;
  color:#ffffff;
  padding:8px 15px;
}
.cookie-notice button:hover{
  background-color:rgba(255,255,255,0.4);
  color:#ffffff;
}
@keyframes cookie-notice-slide-in{
  0% {
    transform: translateY(10rem);
  }
  100%{
    transform:none;
  }
}
